name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2.2.2
        with:
          python-version: '3.x'
      - uses: isort/isort-action@master
        with:
          isortVersion: '5.8.0'
      - uses: psf/black@21.5b1
